version : "3"
services:
  api:
    build: .
    depends_on:
      - postgres
    ports:
      - 8001:8001
    environment:
      - DATABASE_HOSTNAME=${POSTGRES_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
  
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=fastapi
    

    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db: 