name: Build and Deploy

on: [push]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Pulling git repo
        uses: actions/checkout@v5
      - name: Install python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install all dependencies
        run: pip install -r requirements.txt

